.App {
  min-height: 100vh;
  background-color: #679267;
  margin: 0px;
}

.mybody {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  
}

.poketainer {
  min-height: 50vh;
  display: flex;
  gap: 1em;
  padding: 1em;
}

.pokeimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

/* img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
} */

a.navbar-brand {
  margin-inline-start: -5em;
}

.nav-link {
  color: white !important;
  margin-left: 5em;
}

.list-students {
  text-align: center;
  margin-top: 25px;
  flex: 1
}

ul {
  list-style-type: none;
}


form {
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-top: 3em;
  flex: 1;
}

input[type=text] {
  display: inline-block;
  margin-top: -10px;
  width: 100%;
  font-size: 15px;
  border-radius: 2px;
  border: 3px solid #98d0f1
}

button.btn.btn-primary {
  margin-top: 25px;
}

.login {
  background-color: #A51717;
  color: white;
}

.myicon {
  stroke: rgb(243, 121, 7);
  color: rgb(243, 121, 7);
  stroke-width: 10;
  margin-right: 0.9em;
}

.form-label {
  margin-bottom: 0 !important;
  margin-top: 0.5em;
}

.form-check {
  margin-top: 1em;
}

.card-body {
  margin-left: 2em;
  margin-right: 2em;
}
